@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #001931;
}

.gradient-text {
  background: linear-gradient(to right, #4003b3, #966bec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: linear-gradient(to right, #591ec9, #966bec);
}

.gradient-btn {
  background: linear-gradient(to right, #591ec9, #966bec);
  transition: all 0.3s ease;
  cursor: pointer;
}

.gradient-btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}